@page
@model IndexModel

<h1>Blob List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlobFIleinfos[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlobFIleinfos[0].Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlobFIleinfos[0].ContentType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BlobFIleinfos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentType)
                </td>
                <td>
                    <a asp-page="./Download" asp-route-blobName="@item.Name">Download</a>
                </td>
            </tr>
        }
    </tbody>
</table>
